<!-- Header -->
<header class="header">
    <div class="container hero-header__container">
        <div class="header__container">
    <a class="header__logo" href="">
        <!-- logo -->
    </a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__it">Home</li>
            <li class="header__it">About us</li>
            <li class="header__it">How it’s made?</li>
            <li class="header__it">Our products</li>
            <li class="header__it">Contact</li>
        </ul>
    </nav>
    <div class="header__btns-overlay">
    <!-- <button class="menu__btn" type="button" aria-label="switcher menu" data-menu-button aria-expanded="false">
        <svg class="menu__icons" width="20" height="14">
            <use class="icon__menu" href="/images/symbol-defs.svg#icon-menu"></use>
            <use class="icon__cross" href="./images/symbol-defs.svg#icon-close-cross"></use>
        </svg>
    </button> -->
    <button class="header__btn" type="button">Buy now   ></button>
    </div>
    </div>
